.main {
  width: 20rem;
  margin: 0 auto;  
}

.table {
  width: 100%;
  margin: 0 auto;
}

.currency-menu {
  width: 100%;
  display: flex;
}

.currency-menu button {
  flex: 1;
  height: 2rem;
}

.inputValue {
  width: 100%;
  height: 2rem;
}